.banner{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../public/images/pic1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;


}
.banner_addPost{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../public/images/pic1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}